# Local .terraform directories
.terraform/

# .tfstate files (NEVER commit these!)
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files if they contain secrets
# (See note below)
*.tfvars
